Statements and Comments (Can use Markdown like this cell to further comment a file)

In [1]:
print('hello world')

hello world

In [2]:
print('first statement')#comment for the first statement
print('second statement')#comment for the second statement
Print('third statement')#functions are case sensitive; this will throw an error.

first statement
second statement

NameError: name 'Print' is not defined

We can make miltiline statements by adding a forward slash ; BE SURE TO INDENT 4 SPACES (or hit the Tab key)

In [5]:
sum=15+\
    26+\
    15
print(sum)

56

In [4]:
sum=15+26+15
print(sum)

56

There are three types of errors:

SyntaxError

In [6]:
a=10
b=15
6Change=100*(b-a)/a #SyntaxError: invalid syntax

SyntaxError: invalid syntax (<ipython-input-6-17809f1e1e4d>, line 3)

Semantic Error

In [7]:
a=5
b=15
percent_change= 100*(b-a/a)
print(percent_change) #1400%???

1400.0

In [8]:
a=5
b=15
percent_change= 100*((b-a)/a)
print(percent_change)#this configuration is correct. you incurr semantic errors when you write incorrect assumptions in statements that can easily get overlooked.

200.0

Run-time errors

In [10]:
a=0
b=15
PercentChange= 100*(b-a)/a #ZeroDivisionError: division by zero. This is only 1 run-time error example; there are many specific cases.

ZeroDivisionError: division by zero

To help catch these types of errors we can include try and except statements like this:

In [15]:
a = 0
b = 15
try:
    PercentChange = 100 * (b - a)/ a # ZeroDivisionError: division by zero. NOTE THE 4 SPACE INDENTION
except ZeroDivisionError:
    print("Whoops, you can't divide by zero you silly zebra.") #NOTE THE 4 SPACE INDENTION

print("Hey, this script is still being executed!")

Whoops, you can't divide by zero you silly zebra.
Hey, this script is still being executed!

Variables and Assignment Statements (variables must be one word, use only letters, and the _ character)

In [17]:
#the following statement creates the variable "greeting", assigns a string value of "hello world", and prints greeting
greeting='hello world'
print(greeting)

hello world

There is also a set of reserved keywords in Python. You can test variables against a known list of keywords using the following method:

In [18]:
import keyword
print(keyword.iskeyword('raise')) # True
print(keyword.iskeyword('alligator')) # False

True
False

The naming convention in Python is snake_case instead of camelCase (using _ instead of conjoined capitalized subsequent words). See usage exaple below:

In [19]:
# the variable greeting is created and assigned a string type value
my_greeting = 'hello world'
print(my_greeting)

hello world

Python is dynamically typed and strongly typed (data type of variable is intuitively assigned and trying to mix types of variables/data will throw errors instead of producing erroneous results as in JavaScript.

In [20]:
a = 4
b = '4'
c = a + b  # will throw a TypeError. In JavaScript this would produce an output of 44

TypeError: unsupported operand type(s) for +: 'int' and 'str'

To address this error you need to use conversion functions:

In [21]:
a=4
b='4'
c=a + int(b)#converts the string to an integer
c #output will now be 8

8

Expressions and Comparisons have a similar set of operators to JavaScript and are used in the logic of evaluating statements:

In [22]:
(26 == 26) # True
('hello' != 'Hello') # True
(26 > 24) # True
(24 < 26) # True
(26 >= 26) # True
(26 <= 26) # True

True

In [23]:
print(26 == 26)           # True
print(26 == 42)           # False
print('hello' == 'hello') # True
print('hello' == 'Hello') # False
print('cat' != 'cow')     # True
print(42 == 42.0 )        # True
print(42 == '42')         # False

True
False
True
False
True
True
False

There are many built in functions ready for use in Python: https://docs.python.org/3/library/functions.html

Data Types:
Numeric types (integer and float point);
Sequential types (string, tuple, list);
Mappings (dictionary, set)

Importantly, there are Python built-in functions that can convert types to other types (int, float, str(), tuple, list, dict(), set).

In [24]:
#For example: you can convert a list to a tuple by:
coords_list= [90.2, 34.9]
coords_tuple=tuple(coords_list)
print(coords_tuple)

(90.2, 34.9)

Numeric Types (note the use of "type" to determine the type):

In [25]:
#integers
number=4
print(number)
print(type(number))

4
<class 'int'>

In [26]:
#float
number=4.5
print(number)
print(type(number))

4.5
<class 'float'>

There is an inherent difference in memory allocation between the two types due to number of bits in use (4 < 4.0 in terms of the number of bits required to store the value)

Since both integers and floating points are subytpes of numeric types, they can be comingled in statements without throwing an error. Output will be a floating point.

In [27]:
a = 4
b = 5.5
print(type(a), type(b)) # <class 'int'> <class 'float'>
c = a + b
print(c, type(c)) # 9.5 <class 'float'>

<class 'int'> <class 'float'>
9.5 <class 'float'>

Division of integers will result in a floating point:

In [28]:
a = 4
b = 4
print(type(a), type(b)) # <class 'int'> <class 'int'>
c = a/b
print(c, type(c)) # <class 'float'>

<class 'int'> <class 'int'>
1.0 <class 'float'>

Know that complex numbers are a thing and are tagged with a j or J; we will not use these much, so just be aware.

Numeric operators are as follows (Remember PEMDAS for order of operations):

In [30]:
2 ** 3  #exponent

8

In [31]:
22%8 #modulus/remainder after division

6

In [32]:
22//8 #integer division without remainder

2

In [33]:
22/8 #traditional division with decimal remainder

2.75

In [34]:
3*3 #multiplication

9

In [35]:
5-2 #subtraction

3

In [36]:
2+2 #addition

4

String types (created using a single or double quotation mark. use a \ to escape quotes)

In [37]:
a = 'a text string'
print(a)
b = "another text string"
print(b)
c = 'I\'m texting.' # backslash to escape the single quote
print(c) # I'm texting.

a text string
another text string
I'm texting.

We access and manipulate strings with similar functions to JavaScript (Notice the 0 based index system in example below):

In [38]:
letters = 'abcdefg'
print(letters[0]) # a
second_letter = letters[1]
print(second_letter) # b
print(letters[7]) #IndexError: string index out of range

a
b

IndexError: string index out of range

We can also use use [j:k] for slice running from x[j] to x[k-1]:

In [39]:
letters = 'abcdefg'
sliced = letters[2:6]
print(sliced) # cdef

cdef

Use [j:] for j thru the end of the string:

In [40]:
letters = 'abcdefg'
sliced = letters[2:]
print(sliced) # cdefg

cdefg

Use [:j] for 0 thru j-1:

In [41]:
letters = 'abcdefg'
sliced = letters[:4]
print(sliced) # abcd

abcd

Use [i:j:k] to stride by k:

In [1]:
letters = 'abcdefg'
sliced = letters[1:6:2]
print(sliced) # bdf

bdf

Use [-1] for last element or [-j] for jth from last:

In [2]:
letters = 'abcdefg'
last_element = letters[-1]
print(last_element) # g
third_to_last_element = letters[-3]
print(third_to_last_element) # e

g
e

One important thing to understand is that strings are immutable. You can not, for instance, use the bracket notation to change a specific character:

In [3]:
letters = 'abcdefg'
letters[2] = 'm' #TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

To do this you'd simply have to reassign a value to the variable: letters = 'abmdefg'

String Operators

We can use + and * with strings to various effect. see examples below:

In [4]:
s = 'string '
s2 = 'I am a ' + s
print(s2) # I am a string
print(s*6) # string string string string string string

I am a string
string string string string string string

We can also use the comparison operators for strings which compute a character-by-character comparison in lexical order:

In [33]:
a = 'abc'
b = 'bcd'
print(a > b) # False
print(a < b) # True
print (a == b)

False
True
False

Python also supports the useful in and not in operators, which return True or False:

In [6]:
animal = 'alligator'
print('gator' in animal) # True

True

Python 3 also offers improved formatting for the output of strings, using the f and { ... } syntax.

In [7]:
first_name = 'Bob'
last_name = 'Dobalina'
output = f'Paging Mr.{last_name}. Mr.{first_name} {last_name}.'
print(output) #Paging Mr.Dobalina. Mr.Bob Dobalina.

Paging Mr.Dobalina. Mr.Bob Dobalina.

Strings also have functions and methods that we can use:

Built in Functions https://www.w3schools.com/python/python_ref_functions.asp:

In [8]:
length = len('abc') 
highest_char = max('abc') 
lowest_char = min('abc')
print(length, highest_char, lowest_char) # 3 c a
stringified = str(4.6)    
print(stringified, type(stringified)) #4.6 <class 'str'>

3 c a
4.6 <class 'str'>

String Methods https://www.w3schools.com/python/python_ref_string.asp:

Strings are objects and in an object-oriented world, objects have both attributes and procedures (a.k.a. methods)

In [31]:
job = 'cartographer'
print(job.upper()) # CARTOGRAPHER
print(''.join(list(reversed(job))))# a true method to reverse and ouput string
jobs=''.join(list(reversed(job)))#assigning that reversed string to a variable
print(job == jobs)#testing the string for being a  palindrome
title = 'DIRECTOR'
print(title.lower()) # director
phrase = '   the early bird catches the worm  '
print(phrase.strip()) #the early bird catches the worm

CARTOGRAPHER
rehpargotrac
False
director
the early bird catches the worm

Methods to evaluate strings to a true or false Boolean are included in the hyperlink documentation above.

In [34]:
number = "155"
letters = "abcdef"

print(number.isnumeric()) # True
print(letters.isnumeric()) # False

True
False

.join()

In [35]:
s = ','
s2 = '1362548'
with_commas = s.join(s2)
print(with_commas) # 1,3,6,2,5,4,8

1,3,6,2,5,4,8

similar method employed in the reversed() example two code blocks above.

.split() returns the characters in a string into a list and they are delimited by a chosen character

In [36]:
phrase = 'a horse walks into a bar'
print(phrase.split()) # ['a', 'horse', 'walks', 'into', 'a', 'bar']

['a', 'horse', 'walks', 'into', 'a', 'bar']

In [37]:
lyrics = 'A long long time ago, in a galaxy far away, Naboo was under an attack'
print(lyrics.split(',')) # ['A long long time ago', ' in a galaxy far away', ' Naboo was under an attack']

['A long long time ago', ' in a galaxy far away', ' Naboo was under an attack']

.find() returns the index of the chosen character or sequence of characters

In [38]:
print('geocomputing'.find('p')) # 6

6

.replace() will replace all instances of one string with another string

In [39]:
song = 'boots and cats and boots and cats and boots and cats'
improved = song.replace('cats', 'cows')
print(improved) # boots and cows and boots and cows and boots and cows

boots and cows and boots and cows and boots and cows

As we move on to lists and tuples, remember that many of these functions and methods will still be applicable.

LISTS

Lists are a lot like arrays. Can contain numbers, strings, lists, tuples, dictionaries.

In [2]:
nums = [1,2,3,4,5,6]
strings = ['cat','cow','crow','downward dog']
lists = [[1,2,3,4,5,6],['cat','cow','crow','downward dog']]
lists2 = [nums,strings]
print(lists2)

[[1, 2, 3, 4, 5, 6], ['cat', 'cow', 'crow', 'downward dog']]

Accessing and Slicing

In [5]:
nums = [1,2,3,4,5]
#accessing
print(nums[0]) # 1
print(nums[-2]) # 4
print(nums[5]) # IndexError: list index out of range
#slicing
print(nums[1:3]) #[2,3]
print(nums[2:]) #[3,4,5]

1
4

IndexError: list index out of range

Lists are capable of being multidimensional and can be accessed with multi bracket notation like:

In [6]:
a = [0, ['a','b','c','d','e'], 2, 3]
print(a[1][2]) # c

c

Unlike strings, elements within list need not be characters and lists are mutable (can have entries updated with bracket notation accessing and setting equal to a value. Values or parts of values can be updated, deleted, or inserted)

In [7]:
a = [1,2,3,4]
a[1] = 'text'
print(a) # [1,’text’,3,4]
a[1:3] = 'ab'
print(a) # [1,’a’,’b’,4]
del(a[1])
print(a) # [1,’b’,4]

[1, 'text', 3, 4]
[1, 'a', 'b', 4]
[1, 'b', 4]

Lists also have operators that allow for concatenation and other modifications

In [10]:
# concatenating lists
first = [1,2,3]
second = [4,5,6]
combined = first + second
print(combined) # [1, 2, 3, 4, 5, 6]
# replicating lists
repeated = first * 3
print(repeated) # [1, 2, 3, 1, 2, 3, 1, 2, 3]

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

Membership operators can test for values in lists and return true/false boolean

In [11]:
tools = ['Python', 'JS', 'GDAL', 'QGIS']
print('JS' in tools) # True
print('JS' not in tools) # False

True
False

List Functions

In [12]:
print(len([10,21,17])) # 3
print(max([10,21,17])) # 21
print(min(['a','Z','z'])) # Z

3
21
Z

In practice you would likely assign the return value of the function to a variable for future use in the algorithm like:

In [13]:
max_value = max([10,21,17])
print(max_value)

21

List Methods (Note: you can help(object) to determine the available methods for a given object.)

https://www.w3schools.com/python/python_ref_list.asp

In [15]:
nums = [1,2,3,4,5]
nums.append(6)
print(nums) # [1, 2, 3, 4, 5, 6]
nums.insert(0,0)
print(nums) # [0, 1, 2, 3, 4, 5, 6]
nums.reverse()
print(nums) # [6, 5, 4, 3, 2, 1, 0]

[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1, 0]

Recognize that not everything from JavaScript works the same way:

In [16]:
list_a = [1,2,3]
list_b = list_a
list_b.append(4)
print(list_a) # [1, 2, 3, 4]
print(list_b) # [1, 2, 3, 4]

[1, 2, 3, 4]
[1, 2, 3, 4]

to get the same result that we would in JavaScript we would need to use:

In [17]:
list_a = [1,2,3]
list_b = list_a.copy()
list_b.append(4) # add a new value to the end of list_b list
print(list_a) # [1, 2, 3]
print(list_b) # [1, 2, 3, 4]

[1, 2, 3]
[1, 2, 3, 4]

TUPLES (like lists are a container of sequenced objects...however, they are immutable)

Tuples are created by separating objects with commas.

In [2]:
horses = 'Appaloosa', 'Brumby', 'Colorado Ranger'
print(type(horses)) # <class 'tuple'>
print(horses)

<class 'tuple'>
('Appaloosa', 'Brumby', 'Colorado Ranger')

However, it is advised to just go ahead and wrap the objets with commmas like you would to create a list.

In [3]:
horses = ('Appaloosa', 'Brumby', 'Colorado Ranger')
print(type(horses)) # <class 'tuple'>
print(horses)

<class 'tuple'>
('Appaloosa', 'Brumby', 'Colorado Ranger')

Like strings and lists, we access tuples using bracket notation. However, because tuples are immutable, wee can not substitute objects.

In [4]:
horses = ('Appaloosa', 'Brumby', 'Colorado Ranger')
horses[2] = 'Boerperd' # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

Tuples also have operators and like strings and lists, tuples support concatenation (+), replication(*), and membership (in and not in).

TUPLE FUNCTIONS

In [5]:
print(len((10,21,17))) # 3
print(max((10,21,17))) # 21
print(min(('a','Z','z'))) # Z

3
21
Z

TUPLES ARE IMMUTABLE SO THEY HAVE NO METHODS

Packing and unpacking Tuples

In [9]:
a_tuple = (1,2,3,4)
b_tuple = (1,2.,'3',[40,41])
a,b,c,d = a_tuple
print(a) # 1
print(c) # 3

one,two,three,four = b_tuple
print(two) # 2.0
print(four) # [40, 41]

1
3
2.0
[40, 41]

The statements unpacking these tuples creates new variables a, b, one, two, etc and assigns values based on the order of values within the tuple.

This same technique can be used with strings and lists.

In [10]:
s = 'abcd'
one,two,three,four = s
print(one,three) # a c
l = [1,2,3,4]
a,b,c,d = l
print(a,c) # 1 3

a c
1 3

DICTIONARIES

Dictionaries are like Java Script Objects and are wrapped in curly brackets with key:value pairs separated by commas. keys must be unique.

In [13]:
city_population = {"New York City":8550405, "Los Angeles":3971883, "Chicago":2720546}
print(city_population["New York City"])

8550405

Values are accessed within a dictionary using bracket notation with the key

Can create a dictionary by passing any other data type, sequential or mapping to it with the dict() command

In [14]:
numeros = {1:'uno', 2:'dos', 3:'tres'}
print(numeros[1]) # uno

uno

In [15]:
colors = [['red','ff0000'],['grn','00ff00'],['blu','0000ff']]
color_dict = dict(colors)
print(color_dict) # {'red': 'ff0000', 'grn': '00ff00', 'blu': '0000ff'}

{'red': 'ff0000', 'grn': '00ff00', 'blu': '0000ff'}

DICTIONARIES ARE UPDATABLE. Pass updates to dictionary using bracket notation and and conditional statement using = to set new value.

In [16]:
city_population = {"New York City":8550405, "Los Angeles":3971883, "Chicago":2720546}
print(city_population["Los Angeles"]) # 3971883
city_population["Buenos Aires"] = 2890000
print(city_population) # {'New York City': 8550405, 'Los Angeles': 3971883, 'Chicago': 2720546, 'Buenos Aires': 2890000}

3971883
{'New York City': 8550405, 'Los Angeles': 3971883, 'Chicago': 2720546, 'Buenos Aires': 2890000}

You can delete value:key pairs using the del() function and bracket notation.

In [17]:
city_population = {"New York City":8550405, "Los Angeles":3971883, "Chicago":2720546}
print(city_population["Los Angeles"]) # 3971883
city_population["Buenos Aires"] = 2890000
print(city_population) # {'New York City': 8550405, 'Los Angeles': 3971883, 'Chicago': 2720546, 'Buenos Aires': 2890000}
del(city_population["Chicago"])
print(city_population) # {'New York City': 8550405, 'Los Angeles': 3971883, 'Buenos Aires': 2890000}

3971883
{'New York City': 8550405, 'Los Angeles': 3971883, 'Chicago': 2720546, 'Buenos Aires': 2890000}
{'New York City': 8550405, 'Los Angeles': 3971883, 'Buenos Aires': 2890000}

Dictionaries do not support operators. len() is the only function of use to note.

There are several useful methods to be used to iterate through a dictionary:


d.keys()	Returns an iterable view object of d's keys; d.values()	Returns an iterable view object of d's values; 
d.items()	Returns an iterable view object of d/s key/value items (as a tuple). These are best utilized within a for loop as example below shows:

In [19]:
city_population = {"New York City":8550405, "Los Angeles":3971883, "Chicago":2720546}
for key in city_population.keys():
    print(key) # New York City

New York City
Los Angeles
Chicago
Chicago
Chicago
Chicago

In [21]:
city_population = {"New York City":8550405, "Los Angeles":3971883, "Chicago":2720546}
for value in city_population.values():
    print(value) # 8550405, etc

8550405
3971883
2720546

In [22]:
city_population = {"New York City":8550405, "Los Angeles":3971883, "Chicago":2720546}
for item in city_population.items():
    print(type(item), item) # <class 'tuple'> ('New York City', 8550405), etc

<class 'tuple'> ('New York City', 8550405)
<class 'tuple'> ('Los Angeles', 3971883)
<class 'tuple'> ('Chicago', 2720546)

WRITING FUNCTIONS IN PYTHON

Functions in Python are defined using def *desired function name* (parameter): with the operations of the function indented on the following line. Like JavaScript, once the function is defined you can pass arguments to the function by calling the funciton and inserting the argument where a parameter is defined in the parenthesis.

A function that is defined with no parameters and returns no values:

In [1]:
#define the function
def say_hello():
    print('Howdy there.') # Howdy there.

say_hello() # call the function

Howdy there.

A function that is defined with one parameter and returns no values:

In [2]:
#define the function
def say_hello(first_name):
    print(f'Howdy there, {first_name}.') # use parameter within the format string

say_hello('Rich') # call the function

Howdy there, Rich.

A function that is defined with two parameters and returns no values:

In [5]:
#define the function
def say_hello(first_name, second_name):
    print(f'Howdy there, {first_name} {second_name}.') 

say_hello('Rich','Donohue') # call the function

Howdy there, Rich Donohue.

A function that is defined with parameters and returns a value:

In [4]:
#define the function
def say_hello(first_name, second_name):
    return  f'Howdy there, {first_name} {second_name}.'

message = say_hello('Rich','Donohue') # call the function and assign the return value
print(message) # Howdy there, Rich Donohue.

Howdy there, Rich Donohue.

Functions in Python can only return one value, so consider what type of data output is appropriate for your needs.

In [8]:
def say_things():
    # define variables scoped to function
    thing_1 = 'It is Arthur – King of the Britons.'
    thing_2 = 'To seek the Holy Grail.'
    thing_3 = 'On second thoughts, let us not go to Camelot. It is a silly place.'
    return (thing_1, thing_2, thing_3) # return values as tuple

a,b,c = say_things() #assigning variables to the three objects within the tuple that is the return product of the function say_things()
print(a) # Calling print(variable) to retrieve data from tuple. It is Arthur – King of the Britons.
print(b) # Calling print(variable) to retrieve data from tuple. To seek the Holy Grail.
print(c) # Calling print(variable) to retrieve data from tuple. On second thoughts, let us not go to Camelot. It is a silly place.

It is Arthur – King of the Britons.
To seek the Holy Grail.
On second thoughts, let us not go to Camelot. It is a silly place.

PYTHON CONTROL STRUCTURE

Python uses if, elif, and else statements to perform conditional tests. Like functions, the body of the if block is written not within curly braces, but again uses the colon and indentions:

In [1]:
temp = 32

if temp <= 32:
    print('It is freezing!')

It is freezing!

With an else statement:

In [2]:
temp = 41

if temp <= 32:
    print('It is freezing!')
else:
    print('It\'s not freezing but still may be cold.')

It's not freezing but still may be cold.

You can also chain conditional statements with the elif statement:

In [3]:
temp = 40

if temp <= 32:
    print('It is freezing!')
elif 32 < temp < 50:
    print('It\'s not freezing but still cold.')
elif 51 < temp < 68:
    print('Okay, it\'s nice out') 
else:
    print('The weather is warm but may be too hot!')

It's not freezing but still cold.

WHILE LOOPS

In [4]:
count = 10
while count > 0:
    print(count)
    count -= 1 # 10 ... 9 ... 8 ... etc

10
9
8
7
6
5
4
3
2
1

Incorporating a break statement conditioinally

In [5]:
count = 10
while count > 0:
    print(count)
    if count == 3:
        break
    count -= 1

10
9
8
7
6
5
4
3

FOR LOOPS

In [6]:
nums = [1,2,3,4,5,6,7,8,9]
for num in nums:
    print(num) # 1 ... 2 ... 3 ... etc

1
2
3
4
5
6
7
8
9

incorporate the range() to iterate through a range of numbers: range(min, max)

In [8]:
for num in range(10):
    print(num) # 0 ... 1 ... 2 ... **etc**

0
1
2
3
4
5
6
7
8
9

This example takes start and step values within the range function's parameters and uses the modulo operator to evaluate whether or not a number returns a decimal value when divided by two.

In [10]:
for num in range(1,10):
    if num % 2 == 0:
        print(num) # 1 ... 2 ... 3 ... etc

2
4
6
8

Looping through and unpacking dictionaries:

In [11]:
city_population = {"New York City":8550405, "Los Angeles":3971883, "Chicago":2720546, "Buenos Aires": 2890000}

for key, value in city_population.items():
    print(f'key: {key}, value: {value}') # key: New York City, value: 8550405, etc.

key: New York City, value: 8550405
key: Los Angeles, value: 3971883
key: Chicago, value: 2720546
key: Buenos Aires, value: 2890000

Another useful statement is the pass statement, which does nothing but allows the program to keep executing within a loop. Often it is used to reserve a space for future code.

In [12]:
question = 'What is the air-speed velocity of an unladen swallow?'
words = question.split() # return list of words

for word in words:
    if word == 'African' or word == 'European':
        print('Question is specific')
    else:
        # future code
        pass

PYTHON CORE MODULES